*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.box1 {
    text-align: center;   
    border: 2px black dotted;
    display: inline-block; 
    background-color: rgb(196, 231, 210);
    font-family: 'Courier New', Courier, monospace;
}
.box2 {
    background-color: red;
}
.box3 {
    background-color: greenyellow;
}
